<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rafa Alves</title>
   <link rel="stylesheet" href="./css/social.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="./css/bootstrap.css">
    <style>
        body{
            background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
        }
        
    </style>
</head>
<body class="container text-monospace">

    <header>
        
    <nav>
       

        <ul class="nav d-flex justify-content-around p-3">
            <a class="text-decoration-none btn btn-secondary" href="/"><li>Início</li></a>
            <a class="text-decoration-none btn btn-secondary" href="register"><li>Registre-se</li></a>
            <a class="text-decoration-none btn btn-secondary" href="portfolio"><li>Portfólio</li></a>
            <a class="text-decoration-none btn btn-secondary" href="contato"><li>Contato</li></a>
        </ul>
    
    </nav>

   </header>

  
    <form class="d-grid m-auto justify-content-between" method="POST" action="/register">
        
        Nome <input style="border-radius: 5px;" class="text-center row" type="text" name="name" id="" placeholder="NOME" value="<%=body.name%>"> 
        E-mail <input style="border-radius: 5px;" class="text-center row" type="text" name="email" id="" placeholder="E-MAIL" value="<%=body.email%>">
        Senha <input style="border-radius: 5px;" class="text-center row" type="text" name="password" id="" placeholder="SENHA" value="<%=body.password%>">
        Confirme a senha <input style="border-radius: 5px;" class="text-center row" type="text" name="repeatPassword" id="" placeholder="REPITA A SENHA" value="<%=body.repeatPassword%>">
       <button class="btn btn-outline-secondary text-center m-3 row" type="submit">REGISTRAR-SE</button>
    
    </form>

    <%if(error){%>
        <h3> <%=error.message%> </h3>
         <%}%>

    <div style="display: none;" id="emailExist"><h2>E-mail já existe</h2></div>
    

        <div class="card d-flex m-auto">
            <div class="card-deck justify-content-around p-3 bg-secondary">
                <h4 class="text-center mt-5" class="card-header">Rafael Alves Felipe</h4>
            <div class="card-body d-flex">
            <img class="img-thumbnail rounded-circle d-inline" src="./img/logo.jpg" alt="">
             <div class="align-items-center">Amante de tecnologias e das possibilidades que elas nos permitem alcançar.
                Programar é procurar soluções, funcionalidades, amar o que faz e  acima de tudo, abraçar o mundo.
             </div>
            
        </div>

        <div>
            
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-skype"></a>
            <a href="#" class="fa fa-android"></a>
            <a href="#" class="fa fa-reddit"></a>
    
        </div>

        </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="./js/script.js"></script>
        
</body>
</html>

